<html>
    <head>
        <title>404!</title>
        <link rel="icon" type="image/ico" href="res/logo.png" />
        <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        </style>
    </head>
    <body>
        <div>
            <img src="../res/logo.png" style="width:20px; height:20px">
            <a href="/">Home</a>
        </div>
        <div>
            <img src="res/404.gif"/>
        </div>
    </body>
</html>