<html>
    <head>
        <title>Physics practicle simulator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                    <h1><span class="label label-info">Physics practicle simulator</span><br></h1><br>
            
                <div class="col-md-3 panel" style="background-color:rgba(99, 178, 192, 0.692)">
                        <h3><span class="label label-primary">Title</span></h3><br>

                    <div class="list-group">
                        <a href="#" class="list-group-item active">Electonic</a>
                        <a href="#" class="list-group-item">About</a>
                    </div><br>
                </div>


                <div class="col-md-4 panel" style="background-color:rgba(99, 163, 192, 0.692)">
                        <h3><span class="label label-primary">Practicle list</span></h3><br>

                        <div class="list-group">
                            <a href="#InternalResistanceOfBattery" class="list-group-item ">Internal Resistance of a Battery</a>
                        </div><br>
                </div>

                <div class="col-md-5 panel" style="background-color:rgba(99, 192, 161, 0.692)">
                        <h3><span class="label label-primary">Description</span></h3><br>

                        <div class="well well-sm">
                            type details here


                        </div>

                        <button class="btn btn-success">Try with simulator</button><br><br>
                </div>
            
            </div>
        </div>
    </body>
</html>